[[headers]]
for = "/_next/static/*"
  [headers.values]
  Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
for = "/static/*"
  [headers.values]
  Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
for = "/start.js"
  [headers.values]
  Cache-Control = "public, max-age=31536000, immutable"
[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[[headers]]
  for = "/*"
  [headers.values]
    Content-Security-Policy = "default-src 'self'; script-src 'self' 'unsafe-inline' https://cdn.segment.com https://www.google.com https://www.gstatic.com; style-src 'self' 'unsafe-inline'; img-src 'self' data: https:; connect-src 'self' https://api.ordinaly.ai https://www.google.com https://www.gstatic.com https://*.sanity.io https://core.sanity-cdn.com; font-src 'self' https://fonts.gstatic.com; frame-src https://www.google.com https://www.gstatic.com;"
