{% extends "emails/base.html" %}
{% block title %}Contraseña restablecida - Ordinaly{% endblock %}
{% block preheader %}La contraseña de tu cuenta de Ordinaly se ha cambiado correctamente.{% endblock %}
{% block headline %}Tu contraseña ya se ha restablecido{% endblock %}
{% block intro %}Hola {{ user_name }}, la contraseña de tu cuenta de Ordinaly se ha cambiado correctamente.{% endblock %}
{% block body %}
<p class="text small">
  Si no has realizado este cambio, restablece de nuevo tu contraseña y escríbenos.
</p>
{% endblock %}
